<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.hub.school.schoolhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".SchoolHubApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.SchoolHub.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".view.activity.EntranceActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.AuthenticateActivity" />

        <activity android:name=".view.activity.MainActivity" />

        <activity android:name=".view.activity.OpenDiscussionActivity" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".view.activity.SignupActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".view.activity.CreateDiscussionActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".view.activity.CreateCommentActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".view.activity.CreateScheduleActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service android:name=".service.NotifyService"
            android:enabled="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="186fb315fa0f9561876753edfc00fa80567af855" />
    </application>

</manifest>
